numpy
pandas
matplotlib
seaborn
openturns==1.22
SALib
scikit-learn
llvmlite==0.43.0
numba==0.60.0
shap==0.46.0
scipy
groq
streamlit
streamlit_ace
openai==0.28
plotly
black
astor
chaospy
pytest
tabulate
IPython